# Folders
_build/
.vs/
.vscode/
Thirdparty/entt
Thirdparty/glm
Thirdparty/imgui
Thirdparty/imguizmo
Thirdparty/jolt
Thirdparty/premake
Thirdparty/sdl
Thirdparty/stb
Thirdparty/tinygltf
Thirdparty/vma
Thirdparty/volk
Thirdparty/vulkan-sdk

# extensions
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.spv